* {
    /*outline: 1px solid darkslategray;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    width: 100%;
    /*position: relative;*/
}
.dashboard {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    max-width: 1366px;
    margin: 20px auto;
    width: 100%;
}
